body {
 background:url("https://lh3.googleusercontent.com/-0Q6fgo_yVYWbESIklH4iP4DBS2HsndgoV7aikERFOrIwT7rFp3Gs5uRiK0DdLO55AQiI9d5VrLB0rc8AYhXFalvLagrFO3FibgqUGD-ymP898MFOARpFZHcKvikC6Cj7MxAcZz6YLqFlyeB0TLGvjJkhp8ozOdG7q55rayMAAhDo4foXACOAnHXNpK9r81qOBS1Slq1ATxWBHzckTD4WI26oAl7l8_YbbarU2duO_jyUDOJ4e0c4QqyIF6_S3_NfxRTM84YDp_2jFdF9ENtPqhuFzodYFB_QprYQCZ_I13uYl_JVQ5UBgRd7K7OOc8CIZ7vpwi2g_PG1DVWZ6PfmJXRuvFnm4OCDqKWXhpNUNVvthn-cPAOfdy1q8dsTIyB0NamMpXURp6uRcCE9DnzMRCp_pw8nuL-DsioZIbT4qpwADVCsS1pMlWQEaagHMUMsZoYHT_iT4jqbxOBGE6mej2bwJKj5Gc8xRB5FNND0L4VkesMjri_Ph8aU-bvPKbEO47T-GJ32S5U5uwcxBfZkfK4YY6djU8S49v5VKz6swpGR2dDShjVJRGeAQIbqCcEb3nkID0fy7NHZ7hbQmAIsvZtCqvGDIDB3nkiQHdBO8yETmtfREjZUO1vEIMtQrENXOIBxxaizC8w5XafRRhBBKis4IvEcLL4dLXsTgISmGGdQxy24VTc2n1-e9LPOzGEAi9vqKhZ4RLF8BLz0VFaa6UabvxGnWBRQ8ZYNc43mOZTbX6RIPEWVJGJBbfhrUh5WGdnKAundac-7-0DRcayVJ12jqtY2IBZJtQDRqZ2CPNN9vk3gX7ObrZurCdjxPlXWGtjhuUjtRlfGt_Lm1AJmxC8nJNGOaC2pAqI=w1332-h39-no?authuser=2")  ; 
  color: #eee;
  height: 600px;
  max-width: 1366px;
  margin: auto;
  padding: 0;
}
#container {
  background-color: #151515;
  height:279px;
}
#header {
    color: white;
    text-align: center;
  font-size: 31px;
  
}
hr {
    border:0; 
    width: 1259px;
    height:39px; 
 background:url("https://cdn.discordapp.com/attachments/921181464450699294/973751981384564746/WEBPAGE_DEVIDER.png")  ; 
}
#footer {
  background-color: #eee;
  color: black;
  height: 35px;
  width: 1366px;
  text-align: left;
  padding:0 0 0 0px;
  font-size: 27px;
  float: left;
  
}
  
#events{
  background-color: #000;
  width: 180px;
  height: 250px;
  float: left;
text-align: center;
  position:relative;
  top: 304px;
}
#main{
  background-color: #151515;
  position:relative;
  top:00px;
   text-align:center;
}
#footer{
  clear: both;
  position:relative;
  top:50px;
}

#footer a{
  padding:0px 0px 0px 0px;
  class:center;
}
a{
  text-decoration: none;
  color: white;
}
  
li { 
  display:inline;
  background-color: #000;
  width:1280px;
  height:720px;
  float:center;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  position:relative;
  left:320px;
   top:50px;
}
#youtube{
  background-color: #151515;
  position:relative;
  left:px;
   top:20px;
  text-align:center;
}
